In [12]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import metrics

df = pd.read_csv("../data/continuous_feature_set.csv")
df.head()

,Id,Class,file_size_ratio,loc_count,header_count,text_count,rsrc_count,rdata_count,data_count,code_count,bss_count
0,01kcPWA9K2BOxQeS5Rju,1,0.115038,70,19,744,3,323,57,0,0
1,04EjIdbPV5e1XroFOpiN,1,4.994527,7912,19,60476,3,0,3760,0,0
2,05EeG39MTRrI6VY21DPd,1,1.835073,1047,17,11119,3,3385,1047,0,0
3,05rJTUWYAKNegBk2wE8X,1,4.553818,29937,19,208048,3,0,19267,0,0
4,0AnoOZDNbPXIr2MRBSCJ,1,1.574810,2168,19,12773,3,639,3160,0,0

In [13]:
data_df = pd.read_csv('../data/opcode_feature_set.csv')
Y = data_df['Class']
feature_names = data_df.columns.values[2:]
X = pd.DataFrame(data_df,columns=feature_names)
#print feature_names
X.head()

,mov,push,call,pop,cmp,add,lea,xor,jz,test,...,mul,jnz,sub,and,retn,or,inc,movzx,xchg,dec
0,89,81,53,19,15,11,36,18,13,14,...,0,11,5,7,3,6,6,1,0,3
1,9764,5927,2900,1527,1585,356,1230,740,1279,819,...,0,820,311,420,441,113,294,31,1,290
2,2415,915,461,376,328,176,157,191,270,188,...,6,170,73,31,138,22,6,6,0,7
3,32566,28620,10686,6384,7083,1214,5819,2902,6228,5052,...,4,4234,1240,1723,1619,849,1815,422,3,647
4,2624,781,462,539,539,532,344,254,369,362,...,0,359,221,154,4,103,6,19,38,2

In [14]:
df2 = pd.concat([df, X], axis=1)
df2.to_csv("../data/continuous_feature_set.csv", index=False)